# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Logs
logs
*.log
*.csv
*.out
*.pid
*.seed
*.pid.lock

# Electron
/dist/
build/
out/
*.asar

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Optional
coverage/
